
@{
    ViewData["Title"] = "Home";
}
@if(@TempData["ALertMessage"] != null){
     <div class="alert alert-success">
         @TempData["AlertMessage"]
     </div>
}
<div class="container-fluid">
    <div class="container-md mx-auto d-flex flex-row align-items-center justify-content-center m-5 p-5">
        <img src="/Images/clipart.png" class="dragon" />
        <div class="m-5">
             <h1>Dragon Scimitar</h1>
             <p class="fs-5 fst-italic">The dragon scimitar is a level 60 scimitar. It can be wielded by members who have at least 60 Attack and have completed the Master quest Monkey Madness.
                    It can be bought from two different shops for 100,000 coins: either from Daga's Scimitar Smithy on Ape Atoll, or from Dealga's Scimitar Emporium in the Varrock Sword Shop. Players who have freed King Awowogei in Recipe for Disaster can easily reach Ape Atoll through the Ape Atoll Teleport spell, which requires 64 Magic. It is also a possible loot from monkey knife fighters after completing Do No Evil.
                    Along with the Abyssal whip, it used to be one of the most popular non-degrading weapons for melee training, but both were commonly ridiculed for their weak special attacks.
             </p>
             <button class="btn btn-primary">Discover Product</button>
         </div>
          <img src="/Images/ds-old.png" class="dragon" />
    </div>
    <div class="container-fluid bg-light border d-flex justify-content-center align-items-center">
        <div class="m-5 d-flex flex-column align-items-center">
            <img src="/Images/20120223124623!Ranged.png" class="w-100" />
            <p class="mt-3">Ranged</p>
            <a src="" class="btn btn-primary">Buy</a>
        </div>
        <div class="m-5 d-flex flex-column align-items-center">
            <img src="/Images/Constitution.png" />
            <p class="mt-3">Life Points</p>
            <a src="" class="btn btn-primary">Buy</a>
        </div>
        <div class="m-5 d-flex flex-column align-items-center">
            <img src="/Images/Strength.png" />
            <p class="mt-3">Iron Hand</p>
            <a src="" class="btn btn-primary">Buy</a>
        </div>
        <div class="m-5 d-flex flex-column align-items-center">
            <img src="/Images/20111225061407!Magic.png" />
            <p class="mt-3">Magic</p>
            <a src="" class="btn btn-primary">Buy</a>
        </div>
         <div class="m-5 d-flex flex-column align-items-center">
            <img src="/Images/Defence.webp" />
            <p class="mt-3">Defence</p>
            <a src="" class="btn btn-primary">Buy</a>
        </div>
         <div class="m-5 d-flex flex-column align-items-center">
            <img src="/Images/Prayer.png" />
            <p class="mt-3">Prayer</p>
            <a src="" class="btn btn-primary">Buy</a>
        </div>
         <div class="m-5 d-flex flex-column align-items-center">
            <img src="/Images/Attack.png" />
            <p class="mt-3">Attack</p>
            <a src="" class="btn btn-primary">Buy</a>
        </div>
           <div class="m-5 d-flex flex-column align-items-center">
            <img src="/Images/Dragonfire.png" />
            <p class="mt-3">Attack</p>
            <a src="" class="btn btn-primary">Buy</a>
        </div>
    </div>
    <div class="d-flex justify-content-center m-5">
         <div class="card mx-3 col-md-3">
               <img src="/Images/d-scimmy.png" class="card-img-top p-4 img-fluid" alt="..." >
               <div class="card-body">
                    <h5 class="card-title">Dragon Scimitar 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Discover product</a>
               </div>
         </div>
          <div class="card mx-3 col-md-3">
               <img src="/Images/Dragon.png" class="card-img-top p-4 img-fluid" alt="...">
               <div class="card-body">
                    <h5 class="card-title">Dragon Scimitar 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Discover product</a>
               </div>
         </div>
          <div class="card mx-3 col-md-3">
               <img src="/Images/run-scimitar.png" class="card-img-top p-4 img-fluid" alt="...">
               <div class="card-body">
                    <h5 class="card-title">Dragon Scimitar 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Discover product</a>
               </div>
         </div>
    </div>
</div>

